<ion-header>
  <ion-navbar color="primary"> 
    <ion-title>
      Configuración
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-item>
        <ion-label stacked>Exchanger</ion-label>
        <ion-input type="text" readonly="true" [(ngModel)]="exchanger"></ion-input>
    </ion-item>
    
      <ion-item>
        <h2 text-center>Monedas que desea tradear</h2> 
      </ion-item>
        <div *ngFor="let moneda of monedas;let i=index">
              <ion-item >
                  <ion-label style="font-size:1.2rem;font-weight: bold">
                      <h2 style="font-size:1.2rem;font-weight: bold">{{moneda.nombre}}/{{moneda.simbolo}}</h2>
                      </ion-label>
                      <ion-checkbox  [(ngModel)]="moneda.estado" checked="{{moneda.estado}}" disabled="{{modificando}}" ></ion-checkbox>
                      <!-- <ion-note item-end><ion-badge>${{(moneda.monto).toLocaleString('de-ge', {minimumFractionDigits: 2})}}</ion-badge><img src="http://midasbottraders.com/amelie/images/{{moneda.imagen}}" style="height: 32px"></ion-note> -->
                      <ion-note item-end><ion-badge>${{(moneda.monto).toLocaleString('de-ge', {minimumFractionDigits: 2})}}</ion-badge><img src="http://midasbottraders.com/amelie/images/{{moneda.imagen}}" style="height: 32px"></ion-note> 
            
              </ion-item>
              <div *ngIf="id_exchanger==4&&moneda.estado==1" >
                <ion-item>
                    <ion-label style="font-size:1.2rem;font-weight: bold">Leverage</ion-label>
          
                    <ion-select [(ngModel)]="moneda.leverage" disabled="true">
                      <ion-option value="1">1x</ion-option>
                      <ion-option value="10">10x</ion-option>
                      <ion-option value="25">25x</ion-option>
                      
                    </ion-select>
                  </ion-item>
                 

              </div>
           
              

            
        </div>
   
        <div *ngIf="nmonedas==0">
          <button ion-button block (click)="salvar()">Guardar</button> 

        </div>
         

  </ion-list>

</ion-content>
