page-login {
    .scroll-content{
        background: rgb(0, 150, 7); 
         //background: url("assets/imgs/bg-stars.gif") no-repeat center center fixed; 
        
         -webkit-background-size: cover;
         -moz-background-size: cover;
         background-size: cover;
     
     }
}
