<ion-header>
  <ion-navbar color="primary">
    <ion-title>Resumen Ordenes</ion-title>
   
  </ion-navbar>
</ion-header>

<ion-content>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingText="Pull to refresh..." pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Actualizando Datos...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-list>
        
    <ion-list-header style="font-size: 1.8rem;font-weight: bold">
            Transacciones Robot
          </ion-list-header>
    <ion-item *ngFor="let orden of ordenesr;let i=index">
          
                    <ion-thumbnail item-start>
                    <img src="http://midasbottraders.com/amelie/images/{{orden.imagen}}">
                  </ion-thumbnail>
                    <p>{{orden.moneda}}</p>
                    <p style="font-size: 1rem">Fecha Compra:{{orden.fechacompra}}</p>
                    <p style="font-size: 1rem">Hora Compra:{{orden.horacompra}}</p>
                    <p style="font-size: 1rem">Fecha Venta:{{orden.fechaventa}}</p>
                    <p style="font-size: 1rem">Hora Venta:{{orden.horaventa}}</p>
                     <p style="font-size: 1rem">Precio Compra:{{orden.preciocompra}}</p>
                    <p style="font-size: 1rem">Precio Venta:{{orden.precioventa}}</p>
                    <p style="font-size: 1rem">Inversión:{{orden.inversion}}</p>
                    <p style="font-size: 1rem">Recobro:{{orden.venta}}</p>
                    
                    <p style="font-size: 1rem">Cantidad:{{orden.cantidad}}</p>
                    

                    <ion-note item-end ><ion-badge color="secondary" *ngIf="orden.ganancia>=0" style="font-size: 0.8rem">{{orden.ganancia}}</ion-badge><ion-badge color="danger" *ngIf="orden.ganancia<0" style="font-size: 0.8rem">{{orden.ganancia}}</ion-badge></ion-note>
              




    </ion-item>
    <ion-list-header style="font-size: 1.8rem;font-weight: bold">
     Balance: $ {{balance}}
    </ion-list-header>

  </ion-list>
</ion-content>
