<ion-header>
  <ion-navbar>
    <ion-title>
      Ordenes Colocadas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingText="Pull to refresh..." pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Actualizando Datos...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-list>
        <ion-list-header>
                Transacciones Hold
              </ion-list-header>
    <ion-item-sliding *ngFor="let orden of ordenesa;let i=index">

      <ion-item>
        <ion-row>
            <ion-col col-4 style="font-size: 1rem">
                <h2>{{orden.symbol}}</h2>
            </ion-col>

          <ion-col col-6 style="font-size: 1.1rem"> 
                <p>Tipo:{{orden.side}}</p>
                <p>Cantidad:{{orden.amount}}</p>
                <p>Monto:{{orden.cost}}</p>
                <p>Precio Esperado:{{orden.price}}</p>
                <p>Fecha:{{orden.datetime}}</p>
            </ion-col>



        </ion-row>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button color="danger" (click)="cancelarorden(orden.id)" >
          <ion-icon name="cash"></ion-icon>
              Cancelar Orden
          </button>
        </ion-item-options>
    </ion-item-sliding>
    <ion-list-header>
            Transacciones Robot
          </ion-list-header>
    <ion-item *ngFor="let orden of ordenesr;let i=index">
          
                    <ion-thumbnail item-start>
                    <img src="assets/imgs/{{orden.imagen}}">
                  </ion-thumbnail>
                    <p>{{orden.moneda}}</p>
                    <p style="font-size: 1rem">Fecha Compra:{{orden.fechacompra}}</p>
                    <p style="font-size: 1rem">Hora Compra:{{orden.horacompra}}</p>
                    <p style="font-size: 1rem">Fecha Venta:{{orden.fechaventa}}</p>
                    <p style="font-size: 1rem">Hora Venta:{{orden.horaventa}}</p>
                     <p style="font-size: 1rem">Precio Compra:{{orden.preciocompra}}</p>
                    <p style="font-size: 1rem">Precio Venta:{{orden.precioventa}}</p>
                    <p style="font-size: 1rem">Inversión:{{orden.inversion}}</p>
                    <p style="font-size: 1rem">Recobro:{{orden.venta}}</p>
                    
                    <p style="font-size: 1rem">Cantidad:{{orden.cantidad}}</p>
                    

                    <ion-note item-end ><ion-badge color="secondary" *ngIf="orden.ganancia>=0" style="font-size: 1rem">{{orden.ganancia}}</ion-badge><ion-badge color="danger" *ngIf="orden.ganancia<0" style="font-size: 1rem">{{orden.ganancia}}</ion-badge></ion-note>
              




    </ion-item>
    <ion-list-header>
            Transacciones Manuales
          </ion-list-header>
    <ion-item *ngFor="let orden of ordenesnr;let i=index">
          
            <ion-thumbnail item-start>
            <img src="assets/imgs/{{orden.imagen}}">
          </ion-thumbnail>
            <p>{{orden.moneda}}</p>
            <p style="font-size: 1rem">Fecha Compra:{{orden.fechacompra}}</p>
            <p style="font-size: 1rem">Hora Compra:{{orden.horacompra}}</p>
            <p style="font-size: 1rem">Fecha Venta:{{orden.fechaventa}}</p>
            <p style="font-size: 1rem">Hora Venta:{{orden.horaventa}}</p>
            <p style="font-size: 1rem">Precio Compra:{{orden.preciocompra}}</p>
            <p style="font-size: 1rem">Precio Venta:{{orden.precioventa}}</p>
            <p style="font-size: 1rem">Inversión:{{orden.inversion}}</p>

            <p style="font-size: 1rem">Cantidad:{{orden.cantidad}}</p>
            

            <ion-note item-end ><ion-badge color="secondary" *ngIf="orden.ganancia>=0" style="font-size: 1rem">{{orden.ganancia}}</ion-badge><ion-badge color="danger" *ngIf="orden.ganancia<0" style="font-size: 1rem">{{orden.ganancia}}</ion-badge></ion-note>
 
</ion-item>
    <ion-item>
        <h1>Balance Robot:{{balancerobot}}</h1>

    </ion-item>
    <ion-item>
            <h1>Balance Total:{{balance}}</h1>
            
        </ion-item>
  </ion-list>
</ion-content>
