<ion-header>
  <ion-navbar color="primary">
    <ion-title>Dashboard</ion-title>
   
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid style="border:2px linear black;padding:0" >
    <ion-row >
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
        <ion-row>
          <ion-col>
              <div text-center style="font-weight: bold">
                  Usuario
              </div>
              <div text-center style="font-size: 1.2rem">
                <br>
                  {{nombre}}
              </div>
          </ion-col>
          <ion-col>
            <img src="assets/imgs/idusuario.png">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
        <ion-row>
            <ion-col >
                <div text-center style="font-weight: bold">
                    Trader
                </div>
                <div text-center style="font-size: 1.2rem">
                  <br>
                    {{exchanger}}
                </div>
      
            </ion-col>
            <ion-col>
              <img src="assets/imgs/exchanger.png">
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
        <ion-row>
          <ion-col>
              <div text-center style="font-weight: bold">
                  Balance
              </div>
              <div text-center style="font-size: 1.2rem">
                <br>
                  {{saldo}} USD <br>
                  {{saldoBTC}} BTC

              </div>
    
          </ion-col>
          <ion-col>
            <img src="assets/imgs/balance.png">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
          <ion-row>
              <ion-col>
                  <div text-center style="font-weight: bold">
                      Trades Abiertos
                  </div>
                  <div text-center style="font-size: 1.2rem">
                    <br>
                    {{trades}}
                  </div>
        
              </ion-col>
              <ion-col>
                <img src="assets/imgs/openorders.png">
              </ion-col>
            </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
          <ion-row>
            <ion-col>
                <div text-center style="font-weight: bold">
                    Estado Bots
                </div>
                <div text-center style="font-size: 1.2rem">
                  <br>
                    Activos
                </div>
      
            </ion-col>
            <ion-col>
              <img src="assets/imgs/bot.png">
            </ion-col>
          </ion-row>
          
        </ion-col>
        <ion-col style="background-color:rgb(29,33,59);color:white;border:1px solid black;padding:0">
            <ion-row>
                <ion-col>
                    <div text-center style="font-weight: bold">
                        Apis Keys
                    </div>
                    <div text-center style="font-size: 1.2rem">
                      <br>
                      {{msjapi}}
                    </div>
          
                </ion-col>
                <ion-col>
                  <img src="assets/imgs/key.png">
                </ion-col>
              </ion-row>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content  pullingText="Pull to refresh..." pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Actualizando Datos...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>
      <div text-center style="font-weight: bold">Trades Abiertos</div>
    </ion-item>

    <ion-item-sliding *ngFor="let pendiente of pendientes;let i=index">
        <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/{{pendiente.imagen}}">
            </ion-thumbnail>
            <h2>{{pendiente.moneda}}</h2>
            <p style="font-size: 1rem">Fecha Compra:{{pendiente.fecha}}</p>
            <p style="font-size: 1rem">Hora:{{pendiente.hora}}</p>
            <p style="font-size: 1rem">Precio:{{pendiente.compra}} USD</p>
            <p style="font-size: 1rem">Cantidad:{{pendiente.cantidad}}</p> 
            <p style="font-size: 1rem">Inversion:{{pendiente.inversion}}</p>
            <p style="font-size: 1rem">Precio Actual:{{pendiente.valor_moneda}} USD</p> 
            <p style="font-size: 1rem">Profit:{{pendiente.profit}}USD</p>
            <ion-note item-end ><ion-badge color="secondary" *ngIf="pendiente.variacion>0" style="font-size: 1rem">{{pendiente.variacion}}%</ion-badge><ion-badge color="danger" *ngIf="pendiente.variacion<0" style="font-size: 1rem">{{pendiente.variacion}}%</ion-badge></ion-note>
      
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="secondary" (click)="vender(i,pendiente.id)" >
              <ion-icon name="cash"></ion-icon>
                  Vender
              </button>
            </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
