<ion-header>
  <ion-navbar color="primary">
      <ion-note item-end>          
          <button ion-button icon-left (click)="logoff()" item-end>
            <ion-icon name="exit"  item-end ></ion-icon>
          </button>
      </ion-note>
    <ion-title>Dashboard</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid style="border:2px linear black;padding:0" >
    <ion-row >
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
        <ion-row>
          <ion-col>
              <div text-center style="font-weight: bold">
                  Usuario
              </div>
              <div text-center style="font-size: 1.2rem">
                <br>
                  {{nombre}}
              </div>
          </ion-col>
          <ion-col>
            <img src="http://midasbottraders.com/amelie/images/idusuario.png">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
        <ion-row>
            <ion-col >
                <div text-center style="font-weight: bold">
                    Exchanger
                </div>
                <div text-center style="font-size: 1.2rem">
                  <br>
                    {{exchanger}}
                </div>
      
            </ion-col>
            <ion-col>
              <img src="http://midasbottraders.com/amelie/images/exchanger.png">
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
        <ion-row>
          <ion-col>
              <div text-center style="font-weight: bold">
                  Balance
              </div>

    
          </ion-col>
          <ion-col>
            <img src="http://midasbottraders.com/amelie/images/balance.png">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <div text-right style="font-size: 1.2rem">

                    {{saldo}} USDT<br>{{saldoBTC}} BTC
  
              </div>
          </ion-col>

        </ion-row>
      </ion-col>
      <ion-col style="background-color:rgb(29, 33, 59);color:white;border:1px solid black;padding:0">
          <ion-row>
              <ion-col>
                  <div text-center style="font-weight: bold">
                      Trades Abiertos
                  </div>
                  <div text-center style="font-size: 1.2rem">
                    <br>
                    {{trades}}
                  </div>
        
              </ion-col>
              <ion-col>
                <img src="http://midasbottraders.com/amelie/images/openorders.png">
              </ion-col>
            </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col style="background-color:lightcoral;color:blue;border:1px solid black;padding:0">
          <ion-row>
            <ion-col>
                <div text-center style="font-weight: bold">
                    Estado Bots
                </div>
                <div text-center style="font-size: 1.2rem">
                  <br>
                    Activos
                </div>
      
            </ion-col>
            <ion-col>
              <img src="http://midasbottraders.com/amelie/images/bot.png">
            </ion-col>
          </ion-row>
          
        </ion-col>
        <ion-col style="background-color:lightcoral;color:blue;border:1px solid black;padding:0">
            <ion-row>
                <ion-col>
                    <div text-center style="font-weight: bold">
                        Apis Keys
                    </div>
                    <div text-center style="font-size: 1.2rem">
                      <br>
                      {{msjapi}}
                    </div>
          
                </ion-col>
                <ion-col>
                  <img src="http://midasbottraders.com/amelie/images/key.png">
                </ion-col>
              </ion-row>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content  pullingText="Pull to refresh..." pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="dots"
    refreshingText="Actualizando Datos...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-item>

      <div text-center style="font-weight: bold;font-size: 2.2rem" *ngIf="id_exchanger==4">BitMEX</div>
      
    </ion-item>

  
     <div *ngIf="(id_exchanger==4)">
        <ion-item> 
            <ion-thumbnail item-start>
                <img src="http://midasbottraders.com/amelie/images/bitmex.ico" width="80px">
            </ion-thumbnail>
            <ion-note item-end color="dark" style="font-size: 1.8rem"><b>USD{{last}}</b></ion-note>
    
          </ion-item>
    
    
          <div *ngIf="trades==0">
            <ion-grid>
              <ion-row>
                  <ion-col>
                    <ion-row>
                        <button ion-button block color="secondary" (click)="showConfirmCompraBitmex()" >Comprar / Long</button>

                    </ion-row>
                      
                  </ion-col>
                  <ion-col>
                      <ion-row>
                          <button ion-button block color="danger" (click)="showConfirmCompraBitmex()" >Vender / Short</button>
                      </ion-row>


                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-item>
                      <ion-label floating>Contratos</ion-label>
                      <ion-input clearInput type="number" [(ngModel)]="contratos" text-center style="font-weight: bolder;font-size: 2.2rem"></ion-input>
                  </ion-item>

                </ion-row> 
                <ion-row>
                    <ion-item>
                        <ion-label style="font-size:1.8rem;font-weight: bold">Leverage</ion-label>
              
                        <ion-select [(ngModel)]="leverage" interface="action-sheet">
                          <ion-option value="1" style="font-size:1.8rem;font-weight: bold">1x</ion-option>
                          <ion-option value="10" style="font-size:1.8rem;font-weight: bold">10x</ion-option>
                          <ion-option value="25">25x</ion-option>
                          
                        </ion-select>
                      </ion-item>
                </ion-row>                
            </ion-grid>
          </div>
     </div>
     <div text-center style="font-weight: bold;font-size: 2.2rem" *ngIf="trades>0">Trades Abiertos</div>

      <ion-list>
    <ion-item-sliding *ngFor="let pendiente of pendientes;let i=index">
        <ion-item>
            <ion-thumbnail item-start>
              <img src="http://midasbottraders.com/amelie/images/{{pendiente.imagen}}">
            </ion-thumbnail>
            <h2>{{pendiente.moneda}}</h2>
            <p style="font-size: 1.2rem">Fecha:<b>{{pendiente.fecha}}</b></p>
            <p style="font-size: 1.2rem">Hora:{{pendiente.hora}}</p>
            <p style="font-size: 1.2rem">Entrada:{{pendiente.compra}} USD</p>
            <p style="font-size: 1.2rem">Cantidad:{{pendiente.cantidad}}</p> 
            <p style="font-size: 1.2rem">Inversion:{{pendiente.inversion}}</p>
            <p style="font-size: 1.2rem">Precio Actual:{{pendiente.valor_moneda}} USD</p> 
            <p style="font-size: 1.2rem">Profit:<b>{{pendiente.profit}}USD</b></p>
            <ion-note item-end ><ion-badge color="secondary" *ngIf="pendiente.variacion>0" style="font-size: 1.4rem">{{pendiente.variacion}}%</ion-badge><ion-badge color="danger" *ngIf="pendiente.variacion<0" style="font-size: 1.4rem">{{pendiente.variacion}}%</ion-badge></ion-note>
      
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="secondary" (click)="confirmCerrarTransaccion(i,pendiente.id)" >
              <ion-icon name="lock"></ion-icon>
                  Cerrar Posición
              </button>
            </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
